extends layout

block content
  h1= title
  each message in messages
    <p>#{message.user}: #{message.text}</p>
    <p>#{message.added}</p>
  <button onclick="location.href='/new'">New Message</button>